* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.navbar{
  background:rgb(60, 185, 216);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar_container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;

}
#navbar_logo{
  color: white;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 20pt;
}

.navbar_menu{
  display:flex;
  align-items: center;
  list-style: none;
}
.navbar_item{
  height: 80px;
}

.navbar_links{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 125px;
  height: 100%;
  transition: all 0.3s ease
}

.navbar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

.button{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width:100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2361a8;
  
}

.navbar_links:hover{
  color: #2361a8;
  transition: all 0.3s ease
}

@media screen and (max-width:960px){
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar_menu.active{
    background: rgb(54, 163, 190);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height:50vh;
    font-size: 1.6rem;
  }
  #navbar_logo {
    padding-left: 25px;
  }
  .navbar_toggle .bar{
    width: 50px;
    height: 8px;
    margin: 8px 5px;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position:absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%,20%);

  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(15px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-15px) rotate(-45deg);
  }

}

/* Main section*/
.main_container{
display: flex;
margin: 0 auto;
height: 90vh;
z-index: 1;
width: 100%;
padding: 0 50px;
}

h1 {
  margin-top: 5px;
  font-size: 4rem;
  color:rgb(8, 8, 10);
  background-size: 100%;
  text-align: center;
}

h2 {
  margin-top: 5px;
  font-size: 2.5rem;
  color:rgb(0, 89, 255);
  background-size: 100%;
  text-align: center;
}


h4 {
  font-size: 3rem;
  color:rgba(7, 7, 15, 0.753);
  background-size: 100%;
  text-align: center;
}

.box{
  width: auto;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #141414;
  text-align: left;
  align-items: center;
  text-align: center;
}

.box2{
  width: auto;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #141414;
  text-align: left;
  align-items: center;
  text-align: center;
  margin-bottom: 35px;
}

.box3{
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #141414;
  text-align: left;
  align-items: center;
  text-align: center;
}

.Output{
  text-align: center;
  margin-left: 27%;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18pt;
  height: 35px;
  width: auto;
  outline: black;
  background-color: white;
}


.btn{
  text-align: center;
  margin-top: 5%;
  margin-left: 35%;
  margin-bottom: 5%;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
  padding: 20px;
  height: auto;
  width: auto;
  outline: black;
  background-color: rgb(0, 89, 255);

}

.btn:hover{
  outline: black;
  background-color: rgb(39, 109, 167);
  cursor: pointer;
}

.chrome_demo{
  background-color:rgb(60, 185, 216);
  margin-left: 100px;
  margin-top: 100px;
  align-items: center;
  padding: 20px;
  float: left;
  width: 620px;
  height: 120%;
  border-radius: 20px;
}
.body{
  background-color: rgb(165, 214, 230);
}

.buisness_box{
  background-color:rgb(60, 185, 216);
  margin-top: 35%;
  margin-left: 30%;
  margin-bottom: 5%;
  padding: 20px;
  width: 620px;
  height: 120%;
  border-radius: 20px;
}

.Input{
  margin-left: 27%;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18pt;
  height: 35px;
  width: auto;
  outline: black;
  background-color: white;
}

